/*=========================================
FLOAT
=========================================*/

@keyframes float{

0%{

transform:
translateY(0)
rotate(0deg);

}

50%{

transform:
translateY(-24px)
rotate(2deg);

}

100%{

transform:
translateY(0)
rotate(0deg);

}

}

/*=========================================
AURORA
=========================================*/

@keyframes auroraFlow{

0%{

transform:
translate3d(-10%,-5%,0)
scale(1);

}

25%{

transform:
translate3d(10%,5%,0)
scale(1.12);

}

50%{

transform:
translate3d(18%,-8%,0)
scale(1.22);

}

75%{

transform:
translate3d(-8%,12%,0)
scale(1.08);

}

100%{

transform:
translate3d(-10%,-5%,0)
scale(1);

}

}

/*=========================================
GRADIENT
=========================================*/

@keyframes gradientShift{

0%{

background-position:0% 50%;

}

50%{

background-position:100% 50%;

}

100%{

background-position:0% 50%;

}

}

/*=========================================
ROTATE
=========================================*/

@keyframes rotate360{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}

/*=========================================
GLOW
=========================================*/

@keyframes glow{

0%{

opacity:.35;

filter:blur(70px);

}

50%{

opacity:.9;

filter:blur(110px);

}

100%{

opacity:.35;

filter:blur(70px);

}

}

/*=========================================
FADE UP
=========================================*/

@keyframes fadeUp{

0%{

opacity:0;

transform:

translateY(45px);

}

100%{

opacity:1;

transform:

translateY(0);

}

}

/*=========================================
BLINK
=========================================*/

@keyframes blink{

0%,
50%{

opacity:1;

}

51%,
100%{

opacity:0;

}

}

/*=========================================
SHINE
=========================================*/

@keyframes shine{

0%{

transform:

translateX(-120%);

}

100%{

transform:

translateX(220%);

}

}

/*=========================================
SCALE
=========================================*/

@keyframes pulseScale{

0%{

transform:scale(1);

}

50%{

transform:scale(1.08);

}

100%{

transform:scale(1);

}

}

/*=========================================
NOISE
=========================================*/

@keyframes noise{

0%{

transform:

translate(0,0);

}

20%{

transform:

translate(-3%,2%);

}

40%{

transform:

translate(2%,-2%);

}

60%{

transform:

translate(-2%,3%);

}

80%{

transform:

translate(3%,-2%);

}

100%{

transform:

translate(0,0);

}

}

/*=========================================
MARQUEE
=========================================*/

@keyframes marquee{

0%{

transform:

translateX(0);

}

100%{

transform:

translateX(-50%);

}

}

/*=========================================
TEXT
=========================================*/

@keyframes textGlow{

0%{

text-shadow:

0 0 0 transparent;

}

50%{

text-shadow:

0 0 35px rgba(79,209,255,.35);

}

100%{

text-shadow:

0 0 0 transparent;

}

}